{% extends 'base/front_base.html' %}

{% block title %}创业课程{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/course/course.min.css' %}">
{% endblock %}

{% block main %}
    <div class="main">
        <div class="course_nav">
            <div class="nav_container">
                <h3 class="title">在线课堂</h3>
                <ul class="nav_list">
                    <li class="active"><a href="#">最新课堂</a></li>
                    <li><a href="#">投资人说</a></li>
                    <li><a href="#">明星案例</a></li>
                    <li><a href="#">创业知识</a></li>
                </ul>
            </div>
        </div>

        <div class="wrapper">
            <ul class="course_list">
                <li class="course_group">
                    <a href="#">

                        <div class="thumbnail_group">
                            <img src="https://static-image.xfz.cn/1563171621_723.png-course.list.small" alt="">
                        </div>

                        <div class="course_info">
                            <p class="title">创业CEO如何避免技术决策错误</p>
                            <p class="author">龚世海 / HiCTO创始人兼CEO</p>
                            <p class="price_group">

                                <!-- <span> 用于对文档中的行内元素进行组合。 例：<p>我的母亲有 <span style="color:blue">蓝色</span> 的眼睛。</p> -->
                                <span class="free">免费</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="course_group">
                    <a href="#">

                        <div class="thumbnail_group">
                            <img src="https://static-image.xfz.cn/1563171954_878.png-course.list.small" alt="">
                        </div>

                        <div class="course_info">
                            <p class="title">面对危机公关，多快算快</p>
                            <p class="author">高超 / 资深品牌公关</p>
                            <p class="price_group">

                                <!-- <span> 用于对文档中的行内元素进行组合。 例：<p>我的母亲有 <span style="color:blue">蓝色</span> 的眼睛。</p> -->
                                <span class="free">免费</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="course_group">
                    <a href="#">

                        <div class="thumbnail_group">
                            <img src="https://static-image.xfz.cn/1513067515_281.png-course.list.small" alt="">
                        </div>

                        <div class="course_info">
                            <p class="title">人工智能物质载体：深度学习处理器</p>
                            <p class="author">钱诚 / 寒武纪副总裁</p>
                            <p class="price_group">

                                <!-- <span> 用于对文档中的行内元素进行组合。 例：<p>我的母亲有 <span style="color:blue">蓝色</span> 的眼睛。</p> -->
                                <span class="free">免费</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="course_group">
                    <a href="#">

                        <div class="thumbnail_group">
                            <img src="https://static-image.xfz.cn/1526455098_289.png-course.list.small" alt="">
                        </div>

                        <div class="course_info">
                            <p class="title">教你制作抓住投资人眼球的商业计划书</p>
                            <p class="author">李喆 / 远瞻资本创始合伙人</p>
                            <p class="price_group">

                                <!-- <span> 用于对文档中的行内元素进行组合。 例：<p>我的母亲有 <span style="color:blue">蓝色</span> 的眼睛。</p> -->
                                <span class="pay">￥100.0</span>
                            </p>
                        </div>
                    </a>
                </li>

                <li class="course_group">
                    <a href="#">

                        <div class="thumbnail_group">
                            <img src="https://static-image.xfz.cn/1563171621_723.png-course.list.small" alt="">
                        </div>

                        <div class="course_info">
                            <p class="title">创业CEO如何避免技术决策错误</p>
                            <p class="author">龚世海 / HiCTO创始人兼CEO</p>
                            <p class="price_group">

                                <!-- <span> 用于对文档中的行内元素进行组合。 例：<p>我的母亲有 <span style="color:blue">蓝色</span> 的眼睛。</p> -->
                                <span class="free">免费</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="course_group">
                    <a href="#">

                        <div class="thumbnail_group">
                            <img src="https://static-image.xfz.cn/1563171954_878.png-course.list.small" alt="">
                        </div>

                        <div class="course_info">
                            <p class="title">面对危机公关，多快算快</p>
                            <p class="author">高超 / 资深品牌公关</p>
                            <p class="price_group">

                                <!-- <span> 用于对文档中的行内元素进行组合。 例：<p>我的母亲有 <span style="color:blue">蓝色</span> 的眼睛。</p> -->
                                <span class="free">免费</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="course_group">
                    <a href="#">

                        <div class="thumbnail_group">
                            <img src="https://static-image.xfz.cn/1513067515_281.png-course.list.small" alt="">
                        </div>

                        <div class="course_info">
                            <p class="title">人工智能物质载体：深度学习处理器</p>
                            <p class="author">钱诚 / 寒武纪副总裁</p>
                            <p class="price_group">

                                <!-- <span> 用于对文档中的行内元素进行组合。 例：<p>我的母亲有 <span style="color:blue">蓝色</span> 的眼睛。</p> -->
                                <span class="free">免费</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="course_group">
                    <a href="#">

                        <div class="thumbnail_group">
                            <img src="https://static-image.xfz.cn/1526455098_289.png-course.list.small" alt="">
                        </div>

                        <div class="course_info">
                            <p class="title">教你制作抓住投资人眼球的商业计划书</p>
                            <p class="author">李喆 / 远瞻资本创始合伙人</p>
                            <p class="price_group">

                                <!-- <span> 用于对文档中的行内元素进行组合。 例：<p>我的母亲有 <span style="color:blue">蓝色</span> 的眼睛。</p> -->
                                <span class="pay">￥100.0</span>
                            </p>
                        </div>
                    </a>
                </li>

                <li class="course_group">
                    <a href="#">

                        <div class="thumbnail_group">
                            <img src="https://static-image.xfz.cn/1513067515_281.png-course.list.small" alt="">
                        </div>

                        <div class="course_info">
                            <p class="title">人工智能物质载体：深度学习处理器</p>
                            <p class="author">钱诚 / 寒武纪副总裁</p>
                            <p class="price_group">

                                <!-- <span> 用于对文档中的行内元素进行组合。 例：<p>我的母亲有 <span style="color:blue">蓝色</span> 的眼睛。</p> -->
                                <span class="free">免费</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="course_group">
                    <a href="#">

                        <div class="thumbnail_group">
                            <img src="https://static-image.xfz.cn/1526455098_289.png-course.list.small" alt="">
                        </div>

                        <div class="course_info">
                            <p class="title">教你制作抓住投资人眼球的商业计划书</p>
                            <p class="author">李喆 / 远瞻资本创始合伙人</p>
                            <p class="price_group">

                                <!-- <span> 用于对文档中的行内元素进行组合。 例：<p>我的母亲有 <span style="color:blue">蓝色</span> 的眼睛。</p> -->
                                <span class="pay">￥100.0</span>
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}