<div class="sidebar_wrapper">

    <div class="title_group">
        <span class="title">在线课堂</span>
        <a class="more" href="#">更多</a>
    </div>

    <div class="advertise_group">
        <a href="#">
            <img src="https://static-fancube.xfz.cn/1583748706293/750x400.png-website.active.list" alt="">
        </a>
    </div>

    <div class="platform_group">

        <div class="title_group">
            <span class="title">关注小饭桌</span>
        </div>

        <div class="focus_group">

            <ul class="left_group">
                <li class="zhihu">
                    <!-- target="_blank":跳转到浏览器新标签窗口  -->
                    <a href="#" target="_blank">小饭桌创业课堂</a>
                </li>
                <li class="weibo">
                    <!-- target="_blank":跳转到浏览器新标签窗口  -->
                    <a href="#" target="_blank">小饭桌创业课堂</a>
                </li>
                <li class="toutiao">
                    <!-- target="_blank":跳转到浏览器新标签窗口  -->
                    <a href="#" target="_blank">小饭桌</a>
                </li>
            </ul>

            <div class="right_group">
                <p class="desc">创业课堂</p>
            </div>

        </div>

    </div>

    <div class="hot_news_group">
        <div class="title_group">
            <span class="title">热门推荐</span>
        </div>
        <ul class="hot_list_group">
            <li>
                <div class="left_group">
                    <p class="title">
                        <a href="#">早报：喜马拉雅回应员工涉嫌受贿被辞；盒马...</a>
                    </p>
                    <p class="more">
                        <span class="category">深度报道</span>
                        <span class="pub_time">1小时前</span>
                    </p>
                </div>

                <div class="right_group">
                    <a href="#">
                        <img src="https://static-image.xfz.cn/1587031790_652.jpg-website.news.list" alt="">
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>